<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head th:replace="template :: head">
</head>
<style>
    div.container {text-align: center;}
    .error-msg {
    font-size: 20px;
    }
</style>

<body>

    <div class="container">

        <div id="top"><a href="/main" style="display:block;"><img alt="LiftingLeague" src="/images/Inkedliftcartoon_LI.gif"/></a></div>

        <div id="middle">
        	<div class="error-msg"><h1>Uh Oh! An error has occured, sorry!</h1></div>
        </div>
    </div>

</body>

</html>