<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="template :: head">
</head>
<style>
    #top {text-align: center;}
</style>

<body>

	<div class="container">
		
		<div id="top" th:include="template :: masthead"></div>
		
		<div id="middle">
			<div class="dropdown">
				<button onclick="liftDropdown()"
				class="dropbtn">Dropdown</button>
				<div id="liftDropdown" class="add-edit-remove">
				  <a href="/createlift">Add</a>
				  <-- need to call a method here that allows editing of desired form-->
				  <a th:href="@{/main}">Edit</a>
				  <-- need to call a method here that allows selection of desired form for deletion-->
				  <a th:href="@{/main}">Delete</a>
				</div>
			</div>
			<form method="post" action="/main">
				<fieldset>
					<div class="form-group-lifts">
						<input class="form-control" name="liftName" placeholder="Lift Name" type="text"/>
					</div>
					<div class="form-group-lifts">
                        <input class="form-control" name="weight" placeholder="Weight(lbs)" type="text"/>
                    </div>
                    <div class="form-group-lifts">
                        <input class="form-control" name="sets" placeholder="# of Sets" type="text"/>
                    </div>
                    <div class="form-group-lifts">
                        <input class="form-control" name="reps" placeholder="# of Reps" type="text"/>
                    </div>
                </fieldset>
            </form>
        </div>
            
        <div th:replace="template :: footer"></div>
        
       </div>
    </body>
 </html>