<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head th:replace="template :: head">
</head>
<style>
    div.container {text-align: center;}
</style>

<body>

    <div class="container">

        <div id="top" th:include="template :: masthead"></div>

        <div id="middle">

            <form method="post" action="/register">
                <fieldset>
                    <div class="form-group">
                    <p class="invalid-name" th:text="${usermessage}"></p>
                        <input class="form-control" name="name" placeholder="Username" type="text"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password"/>
                    </div>
                    <div class="form-group">
                    <p class="password-missmatch" th:text="${passwordmessage}"></p>
                        <input class="form-control" name="confirmPassword" placeholder="Confirm Password" type="password"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div th:replace="template :: footer"></div>
    </div>

</body>

</html>