<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head lang="en" th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="LiftingLevel"></title>
    
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
</head>

<body>

    <div class="container">

        <div id="top" th:fragment="masthead">
            <a href="/" style="display:block;"><img alt="LiftingLeague" src="/images/liftcartoon.gif"/></a>
        </div>

        <div id="middle">

        </div>

        <div id="bottom" th:fragment="footer">
            <p><a href="/logout">Log Out</a></p>
        </div>

    </div>
</body>
</html>